@font-face {
  font-family: BlackChancery;
  src: url("BLKCHCRY.TTF");
}

* {
  font-family: BlackChancery, "Times New Roman", Times, serif;
}

body {
  background-image: url("wood-pattern.png");
  background-color: #915d1d;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  gap: 20px;
  margin: auto;
  height: auto;
}

.game-winner {
  text-align: center;
}
